body {
  font: 20px sans-serif;
  margin: 20px;
}

input {
  padding: 9px 14px;
  font: 20px sans-serif;
}

.section {
  margin-top: 20px;
}

.copyButton {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  font-weight: 400;
  background-color: #5bc0de;
  border: 1px solid #46b8da;
  border-radius: 4px;
  padding: 6px 12px;
  margin-left: 4px;
}

.copyButton:hover {
  background-color: #31b0d5;
  border-color: #269abc;
}

.copyButton[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
}

.copyButton[disabled]:hover{
  background-color: #5bc0de;
  border-color: #46b8da;
}

.copyableText {
  margin-top: 4px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  padding: 9px 14px;
  min-height: 24px;
  width: auto;
}
